:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsl(40, 40.95%, 93%);
  --clr-black-200: #1e1919;
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(225, 88%, 55%, 1);
  --clr-secondary-600: hsla(215, 90%, 50%, 1);

  --font-family: "Arial", sans-serif;
  --font-family: "Arial", sans-serif;
  --font-head: "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif, "Segoe UI Symbol";
  --font-h3: "Sharp Grotesk", "SharpGrotesk", "Sharp Grotesk KR",
    "Sharp Grotesk Thai", "Helvetica (Sharp Grotesk Fallback)",
    "Arial (Sharp Grotesk Fallback)";
  --font-p: "Helvetica (Atlas Grotesk Fallback)",
    sans-serif "Arial (Atlas Grotesk Fallback)";
  --font-h2: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai",
    "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)";

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-350: 1.09rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
  margin-top: -0.5rem;
  width: auto;
  display: flex;
  align-items: center;
  font-family: var(--font-head);
  height: 48px;
  background-color: white;
}
.header-items-l {
  display: flex;
  flex: 1;
  margin-right: 1rem;
}
.header-items-l a {
  text-decoration: none;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.site-name {
  padding-left: 18px;
  padding-right: 18px;
}
.why-dropbox {
  color: black;
  height: 48px;
  font-weight: 400;
  padding-left: 14px;
  padding-right: 14px;
}
.why-dropbox:hover {
  background-color: var(--clr-neutral-300);
}
.products {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
}
.products:hover {
  background-color: var(--clr-neutral-300);
}
.solutions {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
}
.solutions:hover {
  background-color: var(--clr-neutral-300);
}
.pricing {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
}
.pricing:hover {
  background-color: var(--clr-neutral-300);
}
.header-items-r {
  display: flex;
  flex: 0.82;
  margin-left: 1rem;
}
.header-items-r a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
.global {
  color: black;
  margin-right: 1.2rem;
}
.contact {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  width: 91.22px;
}
.contact:hover {
  background-color: var(--clr-neutral-300);
}
.get-app {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
}
.get-app:hover {
  background-color: var(--clr-neutral-300);
}
.sign-up {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
}
.sign-up:hover {
  background-color: var(--clr-neutral-300);
}
.login {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 0.2rem;
  text-align: center;
}
.login:hover {
  background-color: var(--clr-neutral-300);
}
.get-started {
  align-items: center;
  font-family: "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  width: 11rem;
  margin-top: 0.3rem;
  height: 40px;
  margin-bottom: 0.3rem;
  font-weight: 600;
  padding-left: 0.2rem;
  font-size: 18px;
  background-color: var(--clr-secondary-600);
  color: var(--clr-neutral-100);
}
.get-started:hover {
  background-color: var(--clr-secondary-400);
}
.get-started span {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 0.2rem;
}

.get-started span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}
.container {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.block1 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  align-items: center;
  background-color: #1e1919;
  color: white;
}
.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 777.23px;
  height: 200px;
}
.text-info > h2 {
  margin-top: 3em;

  font-weight: var(--fw-semi-bold);
  font-family: var(--font-head);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  text-wrap: balance;
}
.text-info > p {
  margin-top: 0.5rem;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  font-family: var(--font-p);
  font-size: 1rem;
  font-weight: 400;
}
.find-your-plan {
  display: flex;
  margin-top: 5em;
  margin-bottom: 0;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary-600);
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 19px;
  font-family: var(--font-head);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.find-your-plan:hover {
  background-color: var(--clr-secondary-400);
}

.find-your-plan span {
  margin-left: 1.9rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.find-your-plan span :hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}
.block1 video {
  margin-top: 4.5em;
  width: 580px;
  height: 328.27px;
}
.wda {
  display: flex;
  width: 1262.98px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wda h2 {
  padding-top: 2rem;
  font-family: "Helvetica", sans-serif;
  font-size: 38px;
  font-stretch: expanded;
  padding-left: 5rem;
  margin-left: 5rem;
  width: 777.23px;
  font-weight: 500;
  line-height: 120%;
}
.wda-flex {
  display: flex;
  flex-direction: row;
  margin-right: 4em;
  margin-left: 4em;
}
.wda-info-flex {
  padding: 2rem;
}
.wda-info-flex h3 {
  font-family: Helvetica;
  font-weight: 400;
}
.wda-info-flex p {
  font-size: small;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
}
