:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);
  --clr-secondary-600: hsla(215, 90%, 50%, 1);

  --font-family: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
  width: auto;
  display: flex;
  align-items: center;
  height: 48px;
  background-color: white;
}
.header-items-l {
  display: flex;
  flex: 1;
  margin-right: 1rem;
}
.header-items-l a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.why-dropbox {
  color: black;
}
.products {
  color: black;
}
.solutions {
  color: black;
}
.pricing {
  color: black;
}
.header-items-r {
  display: flex;
  flex: 0.9;
  margin-left: 1rem;
}
.header-items-r a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.contact {
  color: black;
}
.get-app {
  color: black;
}
.sign-up {
  color: black;
}
.login {
  color: black;
}
.get-started {
  align-items: center;
  padding: 0.2rem;

  font-weight: bolder;
  padding-left: 1rem;
  background-color: var(--clr-secondary-600);
  color: white;
}
.get-started span {
  margin-top: 0.5rem;
  padding-left: 2rem;

  padding-right: 0.7rem;
}
body {
  background-color: black;
}
