:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsl(40, 40.95%, 93%);
  --clr-black-200: #1e1919;
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(225, 88%, 55%, 1);
  --clr-secondary-600: hsla(215, 90%, 50%, 1);

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-350: 1.09rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/open-sans/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Sharp Grotesk 23";
  src: url("https://fonts.gstatic.com/s/sharp-grotesk-23.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/sharp-grotesk-23.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

@font-face {
  font-family: "Sharp Grotesk 23 KR";
  src: url("https://fonts.gstatic.com/s/sharp-grotesk-23-kr.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/sharp-grotesk-23-kr.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

@font-face {
  font-family: "Sharp Grotesk 23 Thai";
  src: url("https://fonts.gstatic.com/s/sharp-grotesk-23-thai.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/sharp-grotesk-23-thai.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600, 700;
}

@font-face {
  font-family: "Atlas Grotesk Web";
  src: url("https://fonts.gstatic.com/s/atlas-grotesk-web.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/atlas-grotesk-web.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600, 700;
}

/* Font weight 200 */
@font-face {
  font-family: "Atlas Grotesk";
  src: url("https://fonts.gstatic.com/s/atlas-grotesk.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/atlas-grotesk.woff") format("woff");
  font-weight: 200;
}

/* Font weight 300 */
@font-face {
  font-family: "Atlas Grotesk";
  src: url("https://fonts.gstatic.com/s/atlasgrotesk.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/atlasgrotesk.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
  font-style: normal;
}

@font-face {
  font-family: "Atlas Grotesk";
  font-style: normal;
  font-weight: 200, 300, 400, 500, 600;
  src: local("Atlas Grotesk"), local("AtlasGrotesk"),
    url(https://fonts.gstatic.com/s/atlasgrotesk/v3/WxP2E2w6_3r3eQzHze7fxA4P.ttf)
      format("truetype");
}

@font-face {
  font-family: "Helvetica (Atlas Grotesk Fallback)";
  font-weight: 200, 300, 400, 500, 600; /* Adjust as needed */
  src: local("Atlas Grotesk"), local("AtlasGrotesk"),
    url(https://fonts.gstatic.com/s/atlasgrotesk/v3/WxP2E2w6_3r3eQzHze7fxA4P.ttf)
      format("truetype");
}

/* Define Sharp Grotesk font with multiple font weights */
@font-face {
  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 200, 300, 400, 500, 600, 700; /* Specify multiple weights */
  src: local("Arial"),
    url("https://fonts.gstatic.com/s/sharpgrotesk/v10/LYjNdG_8nE8jDL0i3KbXZ7XL4Bk95DiS9w.woff2")
      format("woff2");
}

/* Define Arial (Sharp Grotesk 23 Fallback) font */
@font-face {
  font-family: "Arial (Sharp Grotesk 23 Fallback)";
  src: url("https://fonts.gstatic.com/s/arial-sharp-grotesk-23.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/arial-sharp-grotesk-23.woff")
      format("woff");
  font-weight: 200, 300, 400, 500, 600; /* Define the font weight */
}

/* Font weight 200 for Segoe UI */
@font-face {
  font-family: "Segoe UI";
  src: url("https://fonts.gstatic.com/s/segoe-ui.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/segoe-ui.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://fonts.gstatic.com/s/helvetica-neue.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica-neue.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

/* Font weight 200 */
@font-face {
  font-family: "Helvetica";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

/* Font weight 200 */
@font-face {
  font-family: "Arial";
  src: url("https://fonts.gstatic.com/s/arial.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/arial.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600, 700;
}

@font-face {
  font-family: "Atlas Grotesk Web";
  src: url("https://fonts.gstatic.com/s/atlas-grotest-web.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/atlas-grotesk-web.woff") format("woff");

  font-weight: 200, 300, 400, 500, 600, 700;
}

@font-face {
  font-family: "Atlas Grotesk";
  src: url("https://fonts.gstatic.com/s/atlas-grotesk.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/atlas-grotesk.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

@font-face {
  font-family: "AtlasGrotesk";
  src: url("https://fonts.gstatic.com/s/atlasGrotesk.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/atlasGrotesk.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}

@font-face {
  font-family: "AtlasGroteskFallback";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "AtlasGroteskFallback";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "AtlasGroteskFallback";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "AtlasGroteskFallback";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "AtlasGroteskFallback";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "AtlasGroteskFallback";
  src: url("https://fonts.gstatic.com/s/helvetica.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/helvetica.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Atlas Grotesk Fallback";
  src: url("https://fonts.gstatic.com/s/arial.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/arial.woff") format("woff");
  font-weight: 200, 300, 400, 500, 600;
}
body {
  background-color: black;
  width: 1260px;
}
header {
  margin-top: -0.5rem;
  width: auto;
  /* position: fixed; */

  display: flex;
  height: 48px;
  align-items: center;
  background-color: white;
}
.header-items-l {
  margin-left: 0%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.header-items-l a {
  text-decoration: none;
  display: flex;

  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  justify-content: center;
  align-items: center;
}
.svg-container {
  background-color: rgb(0, 97, 254);
  display: inline-block; /* or use display: block; depending on your layout */
  padding: 10px; /* Add padding for spacing */
}

.site-name {
  padding-left: 18px;
  padding-right: 18px;
}
.why-dropbox {
  color: black;
  height: 48px;

  font-weight: 400;
  padding-left: 14px;
  padding-right: 14px;
}
.why-dropbox:hover {
  background-color: var(--clr-neutral-300);
}
.products {
  color: black;
  height: 48px;

  padding-left: 14px;
  padding-right: 14px;
}
.products:hover {
  background-color: var(--clr-neutral-300);
}
.solutions {
  color: black;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 16px;
  font-stretch: 1000px;
  font-weight: 100;
}
.solutions:hover {
  background-color: var(--clr-neutral-300);
}
.pricing {
  color: black;
  height: 48px;
  margin-right: 10rem;
  padding-left: 14px;
  padding-right: 14px;
}
.pricing:hover {
  background-color: var(--clr-neutral-300);
}

.global {
  color: black;
}
.contact {
  color: black;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  height: 48px;
  font-weight: 400;
  padding-left: 14px;
  padding-right: 14px;
  width: 91.22px;
}
.contact:hover {
  background-color: var(--clr-neutral-300);
}
.get-app {
  color: black;
  height: 48px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: "Raleway";
  padding-left: 14px;
  padding-right: 14px;
}
.get-app:hover {
  background-color: var(--clr-neutral-300);
}
.sign-up {
  color: black;
  height: 48px;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  padding-left: 14px;
  padding-right: 14px;
}
.sign-up:hover {
  background-color: var(--clr-neutral-300);
}
.login {
  color: black;
  height: 48px;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 0.2rem;
  text-align: center;
}
.login:hover {
  background-color: var(--clr-neutral-300);
}
.get-started {
  /* align-items: center; */
  font-family: "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 89.125px 24px;
  height: 40px;
  width: 165.125px;
  margin-top: 0.2rem;
  justify-content: space-between;
  margin-top: 0.2rem;
  padding-left: 4px;
  padding-right: 4px;
  /* Changed from 2rem */
  font-weight: 600;
  padding-left: 0.2rem;
  font-size: 18px;
  background-color: rgb(0, 97, 254);
  color: var(--clr-neutral-100);
}

.get-started:hover {
  background-color: rgb(0, 87, 229);
}
.get-started span {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 0.2rem;
}

.get-started span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}
#menu-icon {
  display: none;
}
#menu-toggle {
  display: none;
}
nav {
  display: flex;
}
@media only screen and (max-width: 767px) {
  header {
    width: auto;
    /* position: fixed; */

    display: flex;
    height: 48px;
    align-items: center;
    background-color: white;
  }
  .header-items-l {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .get-started {
    display: none;
  }
  .login {
    display: none;
  }
  .svg-container {
    margin-top: 1.5rem;
    margin-left: -1rem;
    background-color: rgb(0, 97, 254);
    display: inline-block; /* or use display: block; depending on your layout */
    padding: 10px; /* Add padding for spacing */
  }
  .site-name img {
    display: none;
  }
  .header-items-l a {
    padding: 12px 20px; /* Adjust padding for touch-friendly spacing */
    width: 100%; /* Make menu items full width */
  }

  #menu {
    display: block; /* Hide the menu by default */
    flex-direction: column; /* Stack menu items vertically */
    position: absolute;
    top: 10%;
    left: 0;
    width: 50%;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  #menu-icon {
    display: inline-block; /* Display the menu icon label */
    padding: 12px; /* Add padding for touch-friendly click area */
    cursor: pointer;
  }

  #menu-toggle:checked + #menu {
    display: flex; /* Display the menu when checkbox is checked */
  }

  #menu a {
    padding: 12px 12px; /* Adjust padding for touch-friendly spacing */
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  #menu a:hover {
    background-color: var(--clr-neutral-300);
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.block1 {
  display: flex;

  width: 1260px;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  align-items: center;
  background-color: #1e1919;
  color: white;
}
.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 777.23px;
  height: 200px;
}
.text-info h2 {
  margin-top: 3em;

  font-weight: 500;
  /* font-family: "Work Sans"; */
  font-family: "Sharp Grotesk 23", "Work Sans";
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  text-wrap: balance;
}
.text-info p {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  font-family: "Open Sans", sans-serif;
  hyphens: manual;
  overflow-wrap: break-word;
  line-height: 24px;
  font-size: 17px;
  font-weight: 400;
}
.find-your-plan {
  display: flex;
  margin-top: 5em;
  margin-bottom: 0;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 97, 254);
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 17px;
  font-family: "Arial (Atlas Grotesk Fallback)", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.find-your-plan:hover {
  background-color: rgb(0, 87, 229);
}

.find-your-plan span {
  margin-left: 1.9rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.find-your-plan span :hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}
.block1 video {
  margin-top: 4.5em;
  width: 580px;
  height: 328.27px;
}
.wda {
  display: flex;
  width: 1262.98px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wda h2 {
  padding-top: 2rem;
  font-family: "Helvetica", sans-serif;
  font-size: 38px;
  padding-left: 5rem;
  text-emphasis: none;
  margin-left: 5rem;
  width: 777.23px;
  font-weight: 500;
  line-height: 2;
}
.wda-flex {
  display: flex;
  flex-direction: row;
  margin-right: 4em;
  margin-left: 4em;
}
.wda-info-flex {
  padding: 1.5rem;
}
.wda-info-flex h3 {
  font-family: Helvetica;
  font-weight: 400;
}
.wda-info-flex p {
  font-size: small;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
}

/* block2 */
.block2 {
  display: flex;
  width: 1260px;
  background-color: rgb(247, 245, 242);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block2 h2 {
  padding-top: 2rem;
  font-family: "Helvetica", sans-serif;
  font-size: 38px;
  font-stretch: expanded;
  padding-left: 5rem;
  margin-left: 5rem;
  width: 777.23px;
  font-weight: 500;
  line-height: 120%;
}
.block2-grid {
  display: grid;
  width: 1262.98px;
  margin-left: 10rem;
  padding-top: 1rem;
  grid-template-columns: repeat(4, 290px);
}
.asp-flex {
  display: flex;
  height: 220px;
  width: 260.39px;
  overflow-wrap: break-word;
  font-wrap: balance;
  flex-direction: column;
  margin-bottom: 4rem;

  padding-right: 2rem;
}
.asp-piture img {
  height: 45px;
}
.asp-flex h3 {
  font-family: "Roboto", sans-serif;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
}
.asp-flex p {
  font-size: small;
  font-family: Helvetica;

  height: 150px;
  font-size: 16px;
  font-weight: 400;
}
.asp-link {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  width: 11rem;
  font-weight: 700;
  padding-left: 0.2rem;
  font-size: 16px;
  color: #1e1919;
}
.asp-link svg {
  height: 20px;
}
.asp-link span {
  margin-top: 0.6rem;

  padding-left: 0.4rem;
  padding-right: 0.2rem;
}

.asp-link span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}

/* block3 */

.block3 {
  display: flex;
  flex-direction: column;

  width: 1263px;
  background-color: rgb(30, 25, 25);
  color: white;
}
.block3 h1 {
  padding-left: 242.883px;
  padding-right: 242.883px;
  text-align: center;
  height: 38.3984px;
  hyphens: manual;
  line-height: 38.4px;
  font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR",
    "Sharp Grotesk 23 Thai", "Helvetica (Sharp Grotesk 23 Fallback)",
    "Arial (Sharp Grotesk 23 Fallback)", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  margin-top: 76px;
  font-weight: 400;
  margin-bottom: 36px;
}
.b3-flex1 {
  display: flex;
  margin-top: 36px;
  flex-grow: 1;
  align-items: center;
  align-items: center;
  flex-direction: row;
}
.for-work {
  display: flex;
  flex-direction: column;
  background: rgb(43, 41, 41);
  justify-content: start;
  margin: 0.5rem;
  margin-left: 24px;
  margin-right: 12px;
  align-items: start;
  height: 530.492px;
}
.for-work img {
  position: static;
  width: 595.5px;
  object-fit: cover;
  height: 198.5px;
}
.for-work h2 {
  padding-left: 48px;
  font-family: "Sharp Grotesk", "SharpGrotesk", "Sharp Grotesk KR",
    "Sharp Grotesk Thai", "Helvetica (Sharp Grotesk Fallback)",
    "Arial (Sharp Grotesk Fallback)", Arial, Helvetica, sans-serif;
  padding-right: 48px;
  margin-top: 48px;
  font-weight: 300;
}
.for-work p {
  padding-left: 48px;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  padding-right: 48px;
  height: 75px;
}
.for-work-link {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 0.3rem;
  font-weight: 600;
  width: 328.805px;
  height: 55.2px;
  font-size: 18px;
  background-color: rgb(0, 97, 254);
  color: rgb(30, 25, 25);
}
.for-work-link:hover {
  background-color: rgb(0, 87, 229);
}
.for-work-link span {
  margin-top: 0.6rem;
  padding-left: 1rem;
}

.for-work-link span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}
.for-personal {
  display: flex;
  flex-direction: column;
  background: rgb(43, 41, 41);
  justify-content: start;
  margin: 0.5rem;
  height: 530.492px;
  margin-left: 12px;
  margin-right: 24px;
}
.for-personal img {
  position: static;
  width: 595.5px;
  object-fit: cover;
  height: 198.5px;
}
.for-personal h2 {
  padding-left: 48px;
  font-family: "Sharp Grotesk", "SharpGrotesk", "Sharp Grotesk KR",
    "Sharp Grotesk Thai", "Helvetica (Sharp Grotesk Fallback)",
    "Arial (Sharp Grotesk Fallback)", Arial, Helvetica, sans-serif;
  padding-right: 48px;
  margin-top: 48px;
  font-weight: 300;
}
.for-personal p {
  padding-left: 48px;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  padding-right: 48px;
  height: 75px;
}
.for-personal-link {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 0.3rem;
  font-weight: 600;
  width: 328.805px;
  height: 55.2px;
  font-size: 18px;
  background-color: rgb(0, 97, 254);
  color: rgb(30, 25, 25);
}
.for-personal-link:hover {
  background-color: rgb(0, 87, 229);
}
.for-personal-link span {
  margin-top: 0.6rem;
  padding-left: 1rem;
}

.for-personal-link span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}
.b3-flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(247, 245, 242);
}
.b3-flex2 h1 {
  font-family: "Sharp Grotesk", "SharpGrotesk", "Sharp Grotesk KR",
    "Sharp Grotesk Thai", "Helvetica (Sharp Grotesk Fallback)",
    "Arial (Sharp Grotesk Fallback)", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.cstc {
  display: grid;
  width: 1262.98px;

  margin-left: 10rem;
  padding-top: 1rem;
  grid-template-columns: repeat(4, 290px);
}
.cstc-info {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 220px;
  width: 260.39px;
  overflow-wrap: break-word;
  font-wrap: balance;
  flex-direction: column;
  margin-bottom: 4rem;

  padding-right: 2rem;
}
.cstc-info img {
  height: 48px;
  left: 0px;
  line-height: 0px;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  object-position: 0% 0%;
  overflow-clip-margin: content-box;
  right: 0px;
  top: 0px;
  width: 243.461px;
  -webkit-font-smoothing: antialiased;
}
.cstc-info h3 {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.cstc-info p {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 200;
  font-size: normal;
}

/* BLOCK4 */
.block4 {
  display: flex;
  flex-direction: column;
  width: 1263px;
}
.block4-text-info {
  background-color: rgb(247, 245, 242);
}
.block4-text {
  display: flex;
  padding-bottom: 72px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 245, 242);
  margin-top: 72px;
  justify-content: center;
  height: 140.3px;
}

.block4-text h1,
.block4-text p {
  text-align: center;
  font-style: normal;
}

.block4-text h1 {
  font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR",
    "Sharp Grotesk 23 Thai", "Helvetica (Sharp Grotesk 23 Fallback)",
    "Arial (Sharp Grotesk 23 Fallback)", sans-serif;
  font-weight: 400;
}

.block4-text p {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  margin-top: 0rem;
  font-weight: 400;
}

.block4-grid {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(2, 631.5px);
  justify-content: center;
  align-items: center;
  width: 1263px;
  height: 993px;
}

/* Styles for the left column */
.block4-flex-child1 {
  display: flex;
  flex-direction: column;
  width: 558.344px;
  padding-left: 48.5703px;
  height: 993px;
}

.block4-flex-child1 section {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: start;
  border-top: 1px solid rgba(166, 158, 146, 0.6);
}
.block4-flex-child1 section:last-child {
  border-bottom: 1px solid rgba(166, 158, 146, 0.6);
}

.block4-flex-child1 section:hover {
  background-color: rgb(247, 245, 242);
}
.block4-flex-child1 section:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0);
}

.block4-flex-child1 h2 {
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(30, 25, 25);
  font-family: "Sharp Grotesk 23", "Work Sans", "Sharp Grotesk 23",
    "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai",
    "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)",
    "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  font-weight: 700;
  width: 334.344px;
  font-size: 16px;
}

.block4-flex-child1 section p {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 100;
  height: 42px;
  font-style: normal;
  width: 440px;
}
.block4-flex-child1 section .svg {
  margin-left: -0px;
}
/* Styles for the SVG icons within sections */

.block4-flex-child1 section > svg {
  margin-top: 15px;
  margin-left: 120px;
  width: 60px;
  font-size: 24px;
}

/* Styles for the content within sections */
.section-child p {
  width: 262.344px;
  height: 70px;
  padding-left: 12px;
}

.section-child a {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 1rem;
  text-underline-offset: 3px;
  text-decoration: underline 1px rgb(30, 25, 25);
}

/* Styles for the right column */
.block4-flex-child2 {
  background-color: rgb(20, 200, 235);
  width: 631.5px;
  height: 993px;
  padding: 48px;
  position: static;
}

.block4-flex-child2 img {
  width: 535.5px;
  margin-top: 10rem;
}

/* BLOCK5 */
.block5 {
  display: flex;

  flex-direction: column;
  padding-left: 24px;
  padding-right: 48px;
  width: 1263px;
  background-color: rgb(247, 245, 242);
}
.block5-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  margin-top: 0px;
  padding-top: 72px;

  scroll-margin-top: 48px;
}
.block5-text h1 {
  text-align: center;
  font-family: "Sharp Grotesk 23", "Work Sans", "Sharp Grotesk 23",
    "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai",
    "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)",
    "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  padding-left: 242.883px;
  padding-right: 242.883px;
  font-weight: 400;
  text-wrap: balance;
}
.block5-text a {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 400;
  text-align: center;
  color: black;
}
.block5-grid {
  display: grid;

  margin-right: 24px;
  margin-left: 24px;
  width: 1262.98px;

  grid-template-columns: repeat(4, 290px);
}
.block5-grid section {
  display: flex;
  height: 220px;
  width: 260.39px;
  align-items: flex-start;
  overflow-wrap: break-word;
  flex-direction: column;
  margin-bottom: 2rem;

  padding-left: 24px;
  padding-right: 24px;
}

.block5-grid section img {
  object-fit: scale-down;
  height: 48px;
}
.block5-grid section h2 {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: solid;
  font-size: 16px;
  width: 243.461px;
}
.block5-grid section p {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  width: 243.461px;
}

.block6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 25, 25);
  color: rgb(247, 245, 242);
  width: 1263px;
}

.block6-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  margin-bottom: 72px;
}
.block6-text h1 {
  text-align: center;
  font-family: "Sharp Grotesk 23", "Work Sans", "Sharp Grotesk 23",
    "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai",
    "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)",
    "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  padding-left: 242.883px;
  padding-right: 242.883px;

  text-wrap: balance;
}
.block6-img-flex {
  display: flex;

  flex-direction: column;
}
.block6-img-info {
  display: flex;
  position: relative;
  margin: 1rem;
  flex-direction: row;
  height: 520.18px;
  width: 1169.84px;
}
.block6-img-info img {
  width: 584.922px;
  object-fit: cover;
}
.block6-img-info div {
  width: 584.922px;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 400;
  background-color: rgb(155, 0, 50);
}
.block6-img-info div h2 {
  width: 564.922px;
  padding-left: 1rem;
}
.button {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 250.9px;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.button button {
  background-color: rgb(30, 25, 25);
  color: rgb(247, 245, 242);
  border: none;
  height: 98px;
  font-weight: 400;
  width: 98px;
}
.button button:hover {
  background-color: rgba(52, 50, 49, 0.979);
}
.button button:nth-child(1) {
  margin-right: 31rem;
}
.button button:nth-child(2) {
  margin-left: 30rem;
}
.img-link {
  padding-left: 1rem;
  text-align: center;
  display: flex;
  justify-content: 2px space-between;
  flex-direction: row;
}
.img-link span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}

.block6-text a {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(247, 245, 242);
}
.block6-text-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 72px;
  padding-bottom: 72px;
}
.block6-text-b h1 {
  text-align: start;
  width: 800.227px;

  font-family: "Sharp Grotesk 23", "Work Sans", "Sharp Grotesk 23",
    "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai",
    "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)",
    "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;

  height: 50px;
  font-size: 45px;
}
.block6-link {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", "Roboto Slab", "Outfit", "Roboto", sans-serif;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  text-decoration: none;
  margin-bottom: 0.3rem;
  font-weight: 600;
  width: 291.461px;
  font-size: 18px;
  background-color: rgb(0, 97, 254);
  color: rgb(30, 25, 25);
}
.block6-link:hover {
  background-color: rgb(0, 87, 229);
}
.block6-link span {
  margin-top: 0.6rem;
  padding-left: 1rem;
}

.block6-link span:hover {
  transform: translateX(4px);
  transition: transform 0.333s cubic-bezier(0.66, 0, 0, 1);
}

/* FOOTER */
.footer-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: rgb(247, 245, 242);
  width: 1263px;
  margin-top: 96px;
  position: relative;
  padding-left: 48.5703px;
  padding-right: 48.5703px;
  height: 550.195px;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 233.164px);
  height: 410px;
}

.footer-grid-info {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-grid-info h2 {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.footer-grid-info div a {
  text-decoration: none;
}
.footer-grid-info div h4 {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-style: normal;
}
.footer-grid-info div {
  height: 326px;
}
.footer-icons {
  display: flex;
  width: 132px;
  margin-top: 48px;
  flex-direction: row;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(79, 79, 79, 0.932);
}

.footer-icons div {
  margin-right: 12px;
}
.footer-icons div a {
  width: 32px;
  color: white;

  height: 32px;
}

.footer-link {
  margin-top: 32px;

  padding-bottom: 48px;

  height: 140.195px;
  padding-right: 48.5703px;
  width: 1165.84px;
}
.footer-link button {
  display: flex;
  flex-direction: row;
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk",
    "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)",
    sans-serif;
  font-weight: 400;

  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  background-color: black;
  color: rgb(247, 245, 242);

  border: none;
  align-items: baseline;
  text-align: center;
  width: 232.48px;
  height: 24px;
}
.footer-link button span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-size: 16px;
}

/* Common styles for all screen sizes */
.header {
  margin-top: -0.5rem;
  width: auto;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 48px;
  background-color: white;
}
